* {
	margin: 0;
	padding: 0;
}

header {
	background: #4F4F4F;
	height: 100px;
}

nav {
	background: #696969;
	height: 30px;
}

nav a {
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	width: 25%;
	float: left;
}

nav a:hover {
	background: #000000;
}

.conteudo  {
	padding: 20px;
	min-height: 500px;
}

.cinza {
	background: #696969;
}

#rodape {
	background: #696969;
	height: 100px;
}